<div class="row">
  <div class="col">
    <h2>Building Management</h2>
  </div>

  <div class="col" style="text-align: right;">
      <a routerLink="/buildings/new" class="btn btn-primary">
        + Add New Building
      </a>
  </div>
</div>


<div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>


<div *ngIf="isLoading">Loading buildings...</div>

<table *ngIf="!isLoading && buildings.length > 0" class="table table-striped mt-3 table-bordered">
  <thead>
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let building of buildings">
    <td>{{ building.name }}</td>
    <td>{{ building.location || 'N/A' }}</td>
    <td>
      <a [routerLink]="['/buildings/edit', building.id]" class="btn btn-sm btn-secondary">
        Edit
      </a>
    </td>
  </tr>
  </tbody>
</table>

<div *ngIf="!isLoading && buildings.length === 0">
  <p>No buildings found. Please add one.</p>
</div>
