<div *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</div>
<div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>

<div class="container">
    <app-back-button></app-back-button>
    <div class="card mt-3 p-3 w-100">
<form (ngSubmit)="handleSubmit()" #updateUserForm="ngForm">
        <div class="row">
            <div class="mb-3 col-md-6 col-lg-6">
                <label for="firstName" class="form-label">First Name</label>
                <input type="text" id="firstName" name="firstName" class="form-control" [(ngModel)]="user.firstName"
                    required>
            </div>
            <div class="mb-3 col-md-6 col-lg-6">
                <label for="lastName" class="form-label">Last Name</label>
                <input type="text" id="lastName" name="lastName" class="form-control" [(ngModel)]="user.lastName" required>
            </div>
            <div class="mb-3 col-md-6 col-lg-6">
                <label for="email" class="form-label">Email Address</label>
                <input type="email" id="email" name="email" class="form-control" [(ngModel)]="user.email" required email autocomplete="email">
            </div>
            <!-- <div class="mb-3 col-md-6 col-lg-6">
                <label for="password" class="form-label">Password</label>
                <input type="password" id="password" name="password" placeholder="provide a temporary password" autocomplete="new-password"
                    class="form-control" [(ngModel)]="password" required>
            </div> -->

                <div class="mb-3 col-md-6 col-lg-6">
                    <label class="form-label d-block">Role</label>
                    <div class="d-flex gap-3">
                    <!-- Hidden input for ngModel binding -->
                    <input
                    type="hidden"
                    id="role"
                    name="role"
                    [(ngModel)]="user.role"
                    required
                    />

                    <!-- Admin Button -->
                    <button
                    type="button"
                    class="role-btn"
                    [class.selected]="user.role === 'ADMIN'"
                    (click)="user.role = 'ADMIN'">
                    Admin
                    </button>

                    <!-- Technician Button -->
                    <button
                    type="button"
                    class="role-btn"
                    [class.selected]="user.role === 'TECHNICIAN'"
                    (click)="user.role = 'TECHNICIAN'">
                    Technician
                    </button>
                </div>
            </div>

            <div class="mb-3 col-md-6 col-lg-6">
                <label for="status" class="form-label">Status</label>
                <select [disabled]="currentUser?.userId === user.id" id="status" name="status" class="form-select" [(ngModel)]="user.isActive" required>
                    <option [ngValue]="true">Active</option>
                    <option [ngValue]="false">Inactive</option>
                </select>
            </div>
        </div>
        <!-- <div class="col-lg-3 col-md-3 col-sm-6"> -->
        <!-- <small class="form-text text-muted">Default password will be set to "password". Users should change their
                password upon first login.</small> -->
        <button type="submit" class="btn btn-primary" [disabled]="updateUserForm.invalid">Save</button>
        <!-- </div> -->
    </form>
    </div>
    
</div>